body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-wrapper {
    text-align: center;
}

#score-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}